
/* Colors Used: #EE2935 red, #4957ED blue, #FFFFFF white, #252526 dark */

body{
    margin: 0;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 7vh;
    background-color: #FFFFFF;
    color:  #252526;
}
.nav-logo{
    display:flex;
    padding-left: 10px;
}
.nav-ul{
    display:flex;
    justify-content:last baseline;
    color:  #252526 ;
}
li{
    list-style-type: none;
    margin: 0 2vh;
    font-size: 3vh;

  }

a{
    text-decoration: none;
    color:  #252526 ;
    padding: 2vw;
  }

  a:hover{
    color: #252526 ;
    padding: 2vw;
  }

/* Main Content row 1 */

.main-container{
    background-image:url('./img/laptop-background.jpg') ;
    background-size: cover; 
}

  .main-content{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: #FFFFFF;
      text-align: center;
      color: #252526;
      padding-top: 20px;
  }


  .box-left {
    border: 1px solid;
    width: 50vh;
  }

  .box-right {
    display:flex;
    border: 1px solid;
    border-radius: 100;
    width: 50vh;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #EE2935;
  }

  .keywords {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: auto;
  }


  /* Main Content row 2 */

  .main-content2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
    text-align: center;
    color: #252526;
    padding-top: 20px;
}


.box-left2 {
  border: 1px solid;
  width: 50vh;
}

.box-right2 {
  display:flex;
  border: 1px solid;
  width: 50vh;
  justify-content: space-between;
  align-items: center;
  align-content: center;

}

.box-center2 {
    display:flex;
    border: 1px solid;
    width: 50vh;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #4957ED;
  }
