
/* Colors Used: #EE2935 red, #4957ED blue, #FFFFFF white, #252526 dark */

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 5vh;
    background-color: #FFFFFF;
    color:  #252526;
}
.nav-logo{
    display:flex;
    padding-left: 10px;
    
}
.nav-ul{
    display:flex;
    justify-content:last baseline;
    color:  #252526 ;
}
li{
    list-style-type: none;
    margin: 0 2vh;
    font-size: 2vh;
    text-align: right;

  }

a{
    text-decoration: none;
    color:  #252526 ;
    padding: 2vw;
  }

  a:hover{
    color: #252526 ;
    padding: 2vw;
  }

/* Main Content row 1 */

  .main-content{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: #FFFFFF;
      text-align: center;
      color: #252526;
      padding-top: 20px;

      
  }


  .box-left {
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   /* <---- NEW    */
  }

  .box-right {
    display:flex;
    border-radius: 50%;
    width: 50vh;
    justify-content: space-between;
    align-items: center;
    background-image:url('./img/space-background.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    color:#FFFFFF;

  }

  .keywords {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: auto;
  }


  /* Main Content row 2 */

  .main-content2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
    text-align: center;
    color: #252526;
    padding-top: 20px;
}


.box-left2 {
  border-top: 3px solid;
  width: 50vh;
  color:  #FFFFFF;
}

.box-right2 {
    display:flex;
    border-top: 3px solid;
    width: 50vh;
    justify-content: space-between;
    align-items: center;
    align-content: center;



}

.box-center2 {
    display:flex;
    border-top: 3px solid;
    width: 50vh;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-image:url('./img/light-bulb.jpg') ;
    background-size:contain;
    background-repeat: no-repeat;
  }
